.grid
 {
  display: grid;
  grid-template-columns: repeat(3,150px);  /* 3 columns */
  grid-template-rows: repeat(2,150px); /* 3 rows  */
  grid-gap:50px 30px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
}

.grid-item{
  border:thin gray solid;
  padding:10px;
}
img {
  width: 100%;
}

.grid2
 {
  display: grid;
  grid-template-columns: repeat(2,150px);  /* 3 columns */
  grid-template-rows: repeat(1,150px); /* 3 rows  */
  grid-gap:50px 30px; /* 50 pixels of space added between rows and 30 pixels added between columns  */
}

.grid-item2{
  border:thin gray solid;
  padding:10px;
}
img {
  width: 100%;
}
